<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
<div class="container">
<a href="/" class="navbar-brand"><%= title %></a>
<button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navmenu"
>
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ms-auto">
    <li class="nav-item"><div class="nav-link"><a href="/administrative_test/home">行测</a></div></li>
    <li class="nav-item"><div class="nav-link">申论</div></li>
    </ul>
</div>
</div>
</nav>
