<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('../partials/top_navi.ejs') -%>
    <div class="container">
      <div class="m-3">
        <button class="btn btn-secondary m-3" type="button" onclick="window.history.back()">
          <h6>返回</h6>
        </button>
        <%- data -%>
        <button class="btn btn-secondary m-3" type="button" onclick="window.history.back()">
          <h6>返回</h6>
        </button>
      </div>
</body>

</html>