<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/top_navi.ejs') -%>
    <div class="container">
      <div class="row m-3 d-flex justify-content-center m-3">
        <div class="card m-2" style="width: 12rem;">
          <img src="/img/index/police.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">警察相关条文</h5>
            <p class="card-text">法律法规、管理办法</p>
            <a href="/law/police" class="btn btn-primary">Go</a>
          </div>
        </div>
        <div class="card m-2" style="width: 12rem;">
          <img src="/img/index/math_36methods.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">数量关系36计</h5>
            <p class="card-text">数量资料秒杀36计·刘有珍</p>
            <a href="/administrative_test/math_36methods" class="btn btn-primary">Go</a>
          </div>
        </div>
        <div class="card m-2" style="width: 12rem;">
          <img src="/img/index/editor.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Wang Editor</h5>
            <p class="card-text">轻量、简洁、易用的富文本编辑器</p>
            <a href="/tool/editor" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
